*~
*.swp
*.bak
*.user
*.creator
*.includes
*.gch
*.config
*.files
*.orig
*.user.*
*.o
/build/*
/naze/build

param_description.md

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.autosave
*.synctex.gz
*.bbl
*.blg
