[submodule "boards/breezy/breezystm32"]
	path = boards/breezy/breezystm32
	url = https://github.com/rosflight/BreezySTM32.git
[submodule "boards/airbourne/airbourne"]
	path = boards/airbourne/airbourne
	url = https://github.com/rosflight/airbourne_f4.git
