*~
*.swp
*.bak
*.user
*.creator
*.includes
*.gch
*.config
*.files
*.orig
*.user.*
*.o
*.html
/build/
/test/build/
/site/
.idea/
cmake-build*
*.map
scripts/parameter-descriptions.md
CMakeFiles/
CMakeCache.txt

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.autosave
*.synctex.gz
*.bbl
*.blg
*.cflags
*.cxxflags
boards/varmint_h7/pixracer_pro/STM32H743IIKX_FLASH.ld
boards/varmint_h7/varmint_10X/STM32H753VIHX_FLASH.ld
