*~
*.swp
*.bak
*.user
*.creator
*.includes
*.gch
*.config
*.files
*.orig
*.user.*
.vscode/
*.o
*.html
/build/
/test/build/
/site/
.idea/
cmake-build*
*.map
scripts/parameter-descriptions.md

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.autosave
*.synctex.gz
*.bbl
*.blg
*.cflags
*.cxxflags

# STM32Cube
.cproject*
.mxproject*
*.launch
.project*
.settings/
config_*/
